.App {
  text-align: center;
}

.buttons{
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}
.post{
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.post>img{
  height: auto;
  width: 25%;
}
.votes{
  display: flex;
  flex-direction: column;
  width: 5%;
  align-items: center;
  justify-content: center;
}
.votes>p{
  margin: 0;
}
.votes>a>i{
  font-size: 40px;
}
.content{
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 65%;
}
.content>h5{
  color: gray;
}
.content>h5>img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
